<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>gas_station</string>
		<key>ImageName</key>
		<string>gas.png</string>
		<key>Title</key>
		<string>Gas Station</string>
	</dict>
	<dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>lodging</string>
		<key>ImageName</key>
		<string>hotel.png</string>
		<key>Title</key>
		<string>Hotels</string>
	</dict>
	<dict>
		<key>Filter</key>
		<string>b&amp;b</string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>lodging</string>
		<key>ImageName</key>
		<string>bednbreakfast.png</string>
		<key>Title</key>
		<string>Bed &amp; Breakfast</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>restaurant</string>
		<key>ImageName</key>
		<string>food.png</string>
		<key>Title</key>
		<string>Restaurants</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string>pizza</string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>restaurant</string>
		<key>ImageName</key>
		<string>pizza.png</string>
		<key>Title</key>
		<string>Pizza</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>cafe</string>
		<key>ImageName</key>
		<string>cafe.png</string>
		<key>Title</key>
		<string>Cafe</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>bar</string>
		<key>ImageName</key>
		<string>bar.png</string>
		<key>Title</key>
		<string>Bar</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string>wine</string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>restaurant</string>
		<key>ImageName</key>
		<string>wine.png</string>
		<key>Title</key>
		<string>Wine</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>atm</string>
		<key>ImageName</key>
		<string>atm.png</string>
		<key>Title</key>
		<string>ATM</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>library</string>
		<key>ImageName</key>
		<string>library.png</string>
		<key>Title</key>
		<string>Library</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>30000</integer>
		<key>Type</key>
		<string>park</string>
		<key>ImageName</key>
		<string>park.png</string>
		<key>Title</key>
		<string>Park</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>30000</integer>
		<key>Type</key>
		<string>zoo</string>
		<key>ImageName</key>
		<string>zoo.png</string>
		<key>Title</key>
		<string>Zoo</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>pharmacy</string>
		<key>ImageName</key>
		<string>pharmacy.png</string>
		<key>Title</key>
		<string>Pharmacy</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>post_office</string>
		<key>ImageName</key>
		<string>postoffice.png</string>
		<key>Title</key>
		<string>Post Office</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>20000</integer>
		<key>Type</key>
		<string>airport</string>
		<key>ImageName</key>
		<string>airport.png</string>
		<key>Title</key>
		<string>Airport</string>
	</dict>
    <dict>
		<key>Filter</key>
		<string></string>
		<key>Radius</key>
		<integer>10000</integer>
		<key>Type</key>
		<string>hospital</string>
		<key>ImageName</key>
		<string>hospital.png</string>
		<key>Title</key>
		<string>Hospital</string>
	</dict>
</array>
</plist>
